# vscode
.vscode 

# Intellij
*.iml
.idea

# npm
node_modules
design-system/dist/
design-system/storybook-static/
design-system/.svelte-kit/
design-system/node_modules/.cache/
design-system/debug-storybook.log

# Don't include the compiled main.js file in the repo.
# They should be uploaded to GitHub releases instead.
main.js
cache/
!cache/temp.txt

# Exclude sourcemaps
*.map

# obsidian
data.json

# Exclude macOS Finder (System Explorer) View States
.DS_Store

database.db
owlbear-cache/
cloudflared/
coverage/
.env

.release/
.pages/
