/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

.layout-5e {
    box-shadow: 0 0 1.5rem #867453;
    display: inline-block;
}

.layout-5e-statblock {
    text-align: left;
    font-size: 12.5px;
    line-height: 1.2em;
    display: inline-block;
    vertical-align: top;
    width: 400px;
    background: #FDF1DC;
    background-size: cover;
    background-position: center;
    padding: 1em;
    box-sizing: border-box;
    font-family: 'Noto Sans', 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
}

.layout-5e-statblock-header {
    margin: 0 0 0.5em;
}

.layout-5e-statblock-header-name {
    font-family: 'Libre Baskerville', 'Lora', 'Calisto MT', 'Bookman Old Style', Bookman, 'Goudy Old Style', Garamond, 'Hoefler Text', 'Bitstream Charter', Georgia, serif;
    color: #922610;
    font-size: 21px;
    line-height: 1.2em;
    margin: 0 0 2px;
    letter-spacing: 1px;
    font-variant: small-caps;
    font-weight: bold;
}

.layout-5e-statblock-header-subtitle {
    font-family: 'Noto Sans', 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;    
    color: #000000;
    opacity: 0.75;
    font-weight: normal;
    font-style: italic;
    font-size: 12px;
    line-height: 1.2em;
}

.layout-5e-statblock-base-info {
    margin: 0.5em 0 0.5em
}

.layout-5e-statblock-base-info-item {
    color: #922610;
    font-size: 12.5px;
    line-height: 1.2em;
}

.layout-5e-statblock-scores-table {
    text-align: center;
    color: #922610;
    margin: 0.5em 0 0.5em;
}

.layout-5e-statblock-scores-table-item {
    display: inline-block;
    vertical-align: middle;
    width: 15.5%;
    min-width: 40px;
    font-size: 12px;
    line-height: 1em;
}

.layout-5e-statblock-scores-table-item-title {
    margin: 0 0 0.5em;
}

.layout-5e-statblock-property-block {
    padding: 0.5em 0 0;
    color: #000000;
}

.layout-5e-statblock-block-header {
    border-bottom: 2px solid #7A200D;
    color: #7A200D;
    font-size: 21px;
    font-variant: small-caps;
    font-weight: normal;
    letter-spacing: 1px;
    margin: 0.5em 0 0.125em;
    padding: 0 0 10px;
    text-indent: 5px;
}

.layout-5e-statblock-generic-description {
    margin: 0.5em 0 0.125em;
}

.tapered-rule {
    display: block;
    width: 100%;
    height: 5px;
    border: none;
    color: #922610;
    fill: #922610;
}
