{
  "openapi": "3.0.3",
  "info": {
    "title": "TTG Club public and legacy API",
    "version": "2026-08-01",
    "description": "OpenAPI artifact generated from public TTG-Club/core-api controller and DTO source plus legacy endpoint evidence used by dnd-dm-tools. Legacy /api/v1 operations are deprecated/inferred and should not be used for new plugin runtime request code.",
    "contact": {
      "name": "TTG Club",
      "url": "https://ttg.club",
      "email": "support@ttg.club"
    }
  },
  "externalDocs": {
    "description": "TTG Club core-api source",
    "url": "https://github.com/TTG-Club/core-api"
  },
  "servers": [
    {
      "url": "https://ttg.club"
    },
    {
      "url": "https://new.ttg.club"
    }
  ],
  "tags": [
    {
      "name": "Бестиарий"
    },
    {
      "name": "Виды"
    },
    {
      "name": "Глоссарий"
    },
    {
      "name": "Дорожная карта"
    },
    {
      "name": "Достижения"
    },
    {
      "name": "Заклинания"
    },
    {
      "name": "Изображения"
    },
    {
      "name": "Инициализация фильтров"
    },
    {
      "name": "История изменений"
    },
    {
      "name": "Источники"
    },
    {
      "name": "Классы"
    },
    {
      "name": "Кэш"
    },
    {
      "name": "Лист персонажа"
    },
    {
      "name": "Лист персонажа по ссылке"
    },
    {
      "name": "Магически предметы"
    },
    {
      "name": "Мастерская"
    },
    {
      "name": "Меню сайта"
    },
    {
      "name": "Мультиклассирование"
    },
    {
      "name": "Награды"
    },
    {
      "name": "Нотификации на главной"
    },
    {
      "name": "Персона для нотификаций"
    },
    {
      "name": "Подписки"
    },
    {
      "name": "Поиск по всем разделам"
    },
    {
      "name": "Пользователи"
    },
    {
      "name": "Последние обновления"
    },
    {
      "name": "Предыстории"
    },
    {
      "name": "Рамки токенов"
    },
    {
      "name": "Рейтинг"
    },
    {
      "name": "Снаряжение и предметы"
    },
    {
      "name": "Сохранённые листы персонажей"
    },
    {
      "name": "Справочники"
    },
    {
      "name": "Статистика"
    },
    {
      "name": "Статьи / Новости"
    },
    {
      "name": "Трекер инициативы"
    },
    {
      "name": "Черты "
    },
    {
      "name": "Internal: Достижения"
    },
    {
      "name": "OnlineUser"
    },
    {
      "name": "VTTG"
    },
    {
      "name": "Legacy v1"
    },
    {
      "name": "Legacy fragments"
    }
  ],
  "paths": {
    "/api/achievements/catalog": {
      "get": {
        "tags": [
          "Достижения"
        ],
        "summary": "Каталог достижений",
        "operationId": "get_api_achievements_catalog",
        "x-source": "core-api-open-source-non-v2",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AchievementResponse"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/achievements/catalog/{code}": {
      "put": {
        "tags": [
          "Достижения"
        ],
        "summary": "Создать/обновить достижение в каталоге",
        "operationId": "put_api_achievements_catalog_code",
        "x-source": "core-api-open-source-non-v2",
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AchievementResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AchievementRequest"
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/achievements/grant/{username}": {
      "post": {
        "tags": [
          "Достижения"
        ],
        "summary": "Выдать достижения пользователю напрямую (минуя коды)",
        "operationId": "post_api_achievements_grant_username",
        "x-source": "core-api-open-source-non-v2",
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/UserAchievementResponse"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GrantAchievementsRequest"
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/achievements/me": {
      "get": {
        "tags": [
          "Достижения"
        ],
        "summary": "Достижения текущего пользователя",
        "operationId": "get_api_achievements_me",
        "x-source": "core-api-open-source-non-v2",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/UserAchievementResponse"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/internal/achievements/grant": {
      "post": {
        "tags": [
          "Internal: Достижения"
        ],
        "summary": "Выдать достижения пользователю (межсервисный вызов)",
        "operationId": "post_api_internal_achievements_grant",
        "x-source": "core-api-open-source-non-v2",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/UserAchievementResponse"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GrantAchievementsInternalRequest"
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/rewards/grant/{username}": {
      "post": {
        "tags": [
          "Награды"
        ],
        "summary": "Выдать перки пользователю напрямую (минуя коды)",
        "operationId": "post_api_rewards_grant_username",
        "x-source": "core-api-open-source-non-v2",
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GrantPerksRequest"
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/rewards/me": {
      "get": {
        "tags": [
          "Награды"
        ],
        "summary": "Награды текущего пользователя со ссылками и статусом готовности",
        "operationId": "get_api_rewards_me",
        "x-source": "core-api-open-source-non-v2",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/UserRewardResponse"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/rewards/resources": {
      "get": {
        "tags": [
          "Награды"
        ],
        "summary": "Конфиг контента наград",
        "operationId": "get_api_rewards_resources",
        "x-source": "core-api-open-source-non-v2",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RewardResourceResponse"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/rewards/resources/{perk}": {
      "put": {
        "tags": [
          "Награды"
        ],
        "summary": "Обновить контент награды (ссылку/статус готовности)",
        "operationId": "put_api_rewards_resources_perk",
        "x-source": "core-api-open-source-non-v2",
        "parameters": [
          {
            "name": "perk",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RewardResourceResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateRewardResourceRequest"
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/rewards/supporters": {
      "get": {
        "tags": [
          "Награды"
        ],
        "summary": "Список увековеченных в приложении (перк APP_CREDITS)",
        "operationId": "get_api_rewards_supporters",
        "x-source": "core-api-open-source-non-v2",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/subscriptions/{id}/activate": {
      "post": {
        "tags": [
          "Подписки"
        ],
        "summary": "Активировать подписку текущего пользователя",
        "operationId": "post_api_subscriptions_id_activate",
        "x-source": "core-api-open-source-non-v2",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriptionResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/subscriptions/all": {
      "get": {
        "tags": [
          "Подписки"
        ],
        "summary": "Получить все подписки (для админки)",
        "operationId": "get_api_subscriptions_all",
        "x-source": "core-api-open-source-non-v2",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SubscriptionResponse"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/subscriptions/codes": {
      "post": {
        "tags": [
          "Подписки"
        ],
        "summary": "Выпустить пачку кодов с одинаковыми наградами и периодом",
        "operationId": "post_api_subscriptions_codes",
        "x-source": "core-api-open-source-non-v2",
        "parameters": [],
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RedemptionCodeResponse"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCodesRequest"
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "get": {
        "tags": [
          "Подписки"
        ],
        "summary": "Получить все выпущенные коды (для админки)",
        "operationId": "get_api_subscriptions_codes",
        "x-source": "core-api-open-source-non-v2",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RedemptionCodeResponse"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/subscriptions/codes/{id}/deactivate": {
      "post": {
        "tags": [
          "Подписки"
        ],
        "summary": "Деактивировать выпущенный код (его нельзя будет погасить)",
        "operationId": "post_api_subscriptions_codes_id_deactivate",
        "x-source": "core-api-open-source-non-v2",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RedemptionCodeResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/subscriptions/codes/{id}/reactivate": {
      "post": {
        "tags": [
          "Подписки"
        ],
        "summary": "Снова активировать ранее деактивированный код",
        "operationId": "post_api_subscriptions_codes_id_reactivate",
        "x-source": "core-api-open-source-non-v2",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RedemptionCodeResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/subscriptions/my": {
      "get": {
        "tags": [
          "Подписки"
        ],
        "summary": "Получить подписки текущего пользователя",
        "operationId": "get_api_subscriptions_my",
        "x-source": "core-api-open-source-non-v2",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SubscriptionResponse"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/subscriptions/redeem": {
      "post": {
        "tags": [
          "Подписки"
        ],
        "summary": "Погасить код: выдать награды и зарегистрировать подписку",
        "operationId": "post_api_subscriptions_redeem",
        "x-source": "core-api-open-source-non-v2",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RedeemResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RedeemCodeRequest"
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/user/display-names": {
      "post": {
        "tags": [
          "Пользователи"
        ],
        "summary": "Отображаемые имена по логинам (публично, для рейтингов)",
        "operationId": "post_api_user_display_names",
        "x-source": "core-api-open-source-non-v2",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DisplayNameByLoginResponse"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DisplayNamesLookupRequest"
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/user/display-names/search": {
      "get": {
        "tags": [
          "Пользователи"
        ],
        "summary": "Поиск пользователей по отображаемому имени (подсказки в админке)",
        "operationId": "get_api_user_display_names_search",
        "x-source": "core-api-open-source-non-v2",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DisplayNameByLoginResponse"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/user/profile": {
      "get": {
        "tags": [
          "Пользователи"
        ],
        "summary": "Получение профиля пользователя",
        "operationId": "get_api_user_profile",
        "x-source": "core-api-open-source-non-v2",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserDto"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/user/profile/display-name": {
      "get": {
        "tags": [
          "Пользователи"
        ],
        "summary": "Отображаемое имя текущего пользователя (создаётся лениво)",
        "operationId": "get_api_user_profile_display_name",
        "x-source": "core-api-open-source-non-v2",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DisplayNameResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Пользователи"
        ],
        "summary": "Смена отображаемого имени",
        "operationId": "patch_api_user_profile_display_name",
        "x-source": "core-api-open-source-non-v2",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DisplayNameResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDisplayNameRequest"
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/user/profile/saved-filter": {
      "get": {
        "tags": [
          "Пользователи"
        ],
        "summary": "Получить сохраненный фильтр по умолчанию",
        "operationId": "get_api_user_profile_saved_filter",
        "x-source": "core-api-open-source-non-v2",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SourceSavedFilterResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Пользователи"
        ],
        "summary": "Создать сохраненный фильтр",
        "operationId": "post_api_user_profile_saved_filter",
        "x-source": "core-api-open-source-non-v2",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SourceSavedFilterResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SourceSavedFilterRequest"
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "put": {
        "tags": [
          "Пользователи"
        ],
        "summary": "Обновить сохраненный фильтр",
        "operationId": "put_api_user_profile_saved_filter",
        "x-source": "core-api-open-source-non-v2",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SourceSavedFilterResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SourceSavedFilterRequest"
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/user/profile/short": {
      "get": {
        "tags": [
          "Пользователи"
        ],
        "summary": "Получение профиля пользователя для бокового меню",
        "operationId": "get_api_user_profile_short",
        "x-source": "core-api-open-source-non-v2",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserProfileShortResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/user/roles": {
      "get": {
        "tags": [
          "Пользователи"
        ],
        "summary": "Получение списка ролей текущего пользователя",
        "operationId": "get_api_user_roles",
        "x-source": "core-api-open-source-non-v2",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/armor/{url}": {
      "post": {
        "tags": [
          "Legacy v1"
        ],
        "summary": "Legacy armor detail lookup",
        "operationId": "post_api_v1_armor_url",
        "deprecated": true,
        "x-source": "dnd-dm-tools-legacy-integration",
        "parameters": [
          {
            "name": "url",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LegacyFilterRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Legacy item JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyArmorResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/backgrounds/{url}": {
      "post": {
        "tags": [
          "Legacy v1"
        ],
        "summary": "Legacy backgrounds detail lookup",
        "operationId": "post_api_v1_backgrounds_url",
        "deprecated": true,
        "x-source": "dnd-dm-tools-legacy-integration",
        "parameters": [
          {
            "name": "url",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LegacyFilterRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Legacy item JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyBackgroundResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/bestiary/{url}": {
      "post": {
        "tags": [
          "Legacy v1"
        ],
        "summary": "Legacy bestiary detail lookup",
        "operationId": "post_api_v1_bestiary_url",
        "deprecated": true,
        "x-source": "dnd-dm-tools-legacy-integration",
        "parameters": [
          {
            "name": "url",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LegacyFilterRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Legacy item JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyMonsterResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/classes/{url}": {
      "post": {
        "tags": [
          "Legacy v1"
        ],
        "summary": "Legacy classes detail lookup",
        "operationId": "post_api_v1_classes_url",
        "deprecated": true,
        "x-source": "dnd-dm-tools-legacy-integration",
        "parameters": [
          {
            "name": "url",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LegacyFilterRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Legacy item JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyClassResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/comments/count": {
      "get": {
        "tags": [
          "Legacy v1"
        ],
        "summary": "Legacy comment count lookup",
        "operationId": "get_api_v1_comments_count",
        "deprecated": true,
        "x-source": "new.ttg.club-public-page",
        "parameters": [
          {
            "name": "sourcePlatform",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "section",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "url",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Comment count response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyCommentCountResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/equipment/{url}": {
      "post": {
        "tags": [
          "Legacy v1"
        ],
        "summary": "Legacy equipment detail lookup",
        "operationId": "post_api_v1_equipment_url",
        "deprecated": true,
        "x-source": "dnd-dm-tools-legacy-integration",
        "parameters": [
          {
            "name": "url",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LegacyFilterRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Legacy item JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyEquipmentItemResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/feats/{url}": {
      "post": {
        "tags": [
          "Legacy v1"
        ],
        "summary": "Legacy feats detail lookup",
        "operationId": "post_api_v1_feats_url",
        "deprecated": true,
        "x-source": "dnd-dm-tools-legacy-integration",
        "parameters": [
          {
            "name": "url",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LegacyFilterRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Legacy item JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyFeatResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/items/{url}": {
      "post": {
        "tags": [
          "Legacy v1"
        ],
        "summary": "Legacy items detail lookup",
        "operationId": "post_api_v1_items_url",
        "deprecated": true,
        "x-source": "dnd-dm-tools-legacy-integration",
        "parameters": [
          {
            "name": "url",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LegacyFilterRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Legacy item JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyEquipmentItemResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/magic-items/{url}": {
      "post": {
        "tags": [
          "Legacy v1"
        ],
        "summary": "Legacy magic-items detail lookup",
        "operationId": "post_api_v1_magic_items_url",
        "deprecated": true,
        "x-source": "dnd-dm-tools-legacy-integration",
        "parameters": [
          {
            "name": "url",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LegacyFilterRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Legacy item JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyMagicItemResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/races/{url}": {
      "post": {
        "tags": [
          "Legacy v1"
        ],
        "summary": "Legacy races detail lookup",
        "operationId": "post_api_v1_races_url",
        "deprecated": true,
        "x-source": "dnd-dm-tools-legacy-integration",
        "parameters": [
          {
            "name": "url",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LegacyFilterRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Legacy item JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyRaceResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/screens/{url}": {
      "post": {
        "tags": [
          "Legacy v1"
        ],
        "summary": "Legacy screens detail lookup",
        "operationId": "post_api_v1_screens_url",
        "deprecated": true,
        "x-source": "dnd-dm-tools-legacy-integration",
        "parameters": [
          {
            "name": "url",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LegacyFilterRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Legacy item JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyDmScreenResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/spells/{url}": {
      "post": {
        "tags": [
          "Legacy v1"
        ],
        "summary": "Legacy spells detail lookup",
        "operationId": "post_api_v1_spells_url",
        "deprecated": true,
        "x-source": "dnd-dm-tools-legacy-integration",
        "parameters": [
          {
            "name": "url",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LegacyFilterRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Legacy item JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacySpellResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/weapons/{url}": {
      "post": {
        "tags": [
          "Legacy v1"
        ],
        "summary": "Legacy weapons detail lookup",
        "operationId": "post_api_v1_weapons_url",
        "deprecated": true,
        "x-source": "dnd-dm-tools-legacy-integration",
        "parameters": [
          {
            "name": "url",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LegacyFilterRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Legacy item JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyWeaponResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/articles": {
      "post": {
        "tags": [
          "Статьи / Новости"
        ],
        "summary": "Создание статьи / новости",
        "operationId": "post_api_v2_articles",
        "x-source": "core-api-open-source",
        "parameters": [],
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ArticleRequest"
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v2/articles/{url}": {
      "head": {
        "tags": [
          "Статьи / Новости"
        ],
        "summary": "Проверка занятости url (для админки при выборе slug): ",
        "operationId": "head_api_v2_articles_url",
        "x-source": "core-api-open-source",
        "parameters": [
          {
            "name": "url",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "get": {
        "tags": [
          "Статьи / Новости"
        ],
        "summary": "Полная статья / новость по url",
        "operationId": "get_api_v2_articles_url",
        "x-source": "core-api-open-source",
        "parameters": [
          {
            "name": "url",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArticleDetailedResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Статьи / Новости"
        ],
        "summary": "Обновление статьи / новости",
        "operationId": "put_api_v2_articles_url",
        "x-source": "core-api-open-source",
        "parameters": [
          {
            "name": "url",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ArticleRequest"
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Статьи / Новости"
        ],
        "summary": "Помечает статью / новость как скрытую для списков",
        "operationId": "delete_api_v2_articles_url",
        "x-source": "core-api-open-source",
        "parameters": [
          {
            "name": "url",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No content",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v2/articles/{url}/raw": {
      "get": {
        "tags": [
          "Статьи / Новости"
        ],
        "summary": "Полная форма для редактирования статьи / новости по url",
        "operationId": "get_api_v2_articles_url_raw",
        "x-source": "core-api-open-source",
        "parameters": [
          {
            "name": "url",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArticleRequest"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v2/articles/preview": {
      "post": {
        "tags": [
          "Статьи / Новости"
        ],
        "summary": "Предпросмотр статьи / новости",
        "operationId": "post_api_v2_articles_preview",
        "x-source": "core-api-open-source",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArticleDetailedResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ArticleRequest"
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v2/articles/search": {
      "get": {
        "tags": [
          "Статьи / Новости"
        ],
        "summary": "Получить cnt последних опубликованных статей / новостей (с фильтром по типу и поиском)",
        "operationId": "get_api_v2_articles_search",
        "x-source": "core-api-open-source",
        "parameters": [
          {
            "name": "cnt",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "NEWS",
                "ARTICLE"
              ]
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ArticleShortResponse"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/articles/search/unpublished": {
      "get": {
        "tags": [
          "Статьи / Новости"
        ],
        "summary": "Получить cnt последних неопубликованных статей / новостей (для модерации, с фильтром и поиском)",
        "operationId": "get_api_v2_articles_search_unpublished",
        "x-source": "core-api-open-source",
        "parameters": [
          {
            "name": "cnt",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "NEWS",
                "ARTICLE"
              ]
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ArticleShortResponse"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v2/backgrounds": {
      "post": {
        "tags": [
          "Предыстории"
        ],
        "summary": "Создание предыстории",
        "operationId": "post_api_v2_backgrounds",
        "x-source": "core-api-open-source",
        "parameters": [],
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BackgroundRequest"
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v2/backgrounds/{url}": {
      "get": {
        "tags": [
          "Предыстории"
        ],
        "summary": "Детальная информация о предыстории",
        "operationId": "get_api_v2_backgrounds_url",
        "x-source": "core-api-open-source",
        "parameters": [
          {
            "name": "url",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BackgroundDetailResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Предыстории"
        ],
        "summary": "Обновление предыстории",
        "operationId": "put_api_v2_backgrounds_url",
        "x-source": "core-api-open-source",
        "parameters": [
          {
            "name": "url",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BackgroundRequest"
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Предыстории"
        ],
        "summary": "Помечает предысторию как скрытую для списков",
        "operationId": "delete_api_v2_backgrounds_url",
        "x-source": "core-api-open-source",
        "parameters": [
          {
            "name": "url",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No content",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "head": {
        "tags": [
          "Предыстории"
        ],
        "summary": "existByUrl",
        "operationId": "head_api_v2_backgrounds_backgroundUrl",
        "x-source": "core-api-open-source",
        "parameters": [
          {
            "name": "url",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/backgrounds/{url}/raw": {
      "get": {
        "tags": [
          "Предыстории"
        ],
        "summary": "getBackgroundFormByUrl",
        "operationId": "get_api_v2_backgrounds_url_raw",
        "x-source": "core-api-open-source",
        "parameters": [
          {
            "name": "url",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BackgroundRequest"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/backgrounds/filters": {
      "get": {
        "tags": [
          "Предыстории"
        ],
        "summary": "Получить метаданные фильтров",
        "operationId": "get_api_v2_backgrounds_filters",
        "x-source": "core-api-open-source",
        "parameters": [
          {
            "name": "source",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FilterMetadataResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/backgrounds/preview": {
      "post": {
        "tags": [
          "Предыстории"
        ],
        "summary": "Предпросмотр предыстории",
        "operationId": "post_api_v2_backgrounds_preview",
        "x-source": "core-api-open-source",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BackgroundDetailResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BackgroundRequest"
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v2/backgrounds/search": {
      "get": {
        "tags": [
          "Предыстории"
        ],
        "summary": "Поиск предысторий",
        "operationId": "get_api_v2_backgrounds_search",
        "x-source": "core-api-open-source",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Search/filter query parameters from the controller query DTO."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BackgroundShortResponse"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/backgrounds/select": {
      "get": {
        "tags": [
          "Предыстории"
        ],
        "summary": "getBackgroundSelect",
        "operationId": "get_api_v2_backgrounds_select",
        "x-source": "core-api-open-source",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BackgroundSelectResponse"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/bestiary": {
      "post": {
        "tags": [
          "Бестиарий"
        ],
        "summary": "Добавление существа",
        "operationId": "post_api_v2_bestiary",
        "x-source": "core-api-open-source",
        "parameters": [],
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatureRequest"
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v2/bestiary/{url}": {
      "head": {
        "tags": [
          "Бестиарий"
        ],
        "summary": "Проверить существо по URL",
        "operationId": "head_api_v2_bestiary_url",
        "x-source": "core-api-open-source",
        "parameters": [
          {
            "name": "url",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Бестиарий"
        ],
        "summary": "Получение детальной информации по URL",
        "operationId": "get_api_v2_bestiary_url",
        "x-source": "core-api-open-source",
        "parameters": [
          {
            "name": "url",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatureDetailResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Бестиарий"
        ],
        "summary": "Обновление существа",
        "operationId": "put_api_v2_bestiary_url",
        "x-source": "core-api-open-source",
        "parameters": [
          {
            "name": "url",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatureRequest"
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Бестиарий"
        ],
        "summary": "Сокрытие существа",
        "operationId": "delete_api_v2_bestiary_url",
        "x-source": "core-api-open-source",
        "parameters": [
          {
            "name": "url",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No content",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v2/bestiary/{url}/raw": {
      "get": {
        "tags": [
          "Бестиарий"
        ],
        "summary": "getFormByUrl",
        "operationId": "get_api_v2_bestiary_url_raw",
        "x-source": "core-api-open-source",
        "parameters": [
          {
            "name": "url",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatureRequest"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/bestiary/filters": {
      "get": {
        "tags": [
          "Бестиарий"
        ],
        "summary": "Получить метаданные фильтров",
        "operationId": "get_api_v2_bestiary_filters",
        "x-source": "core-api-open-source",
        "parameters": [
          {
            "name": "source",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FilterMetadataResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/bestiary/preview": {
      "post": {
        "tags": [
          "Бестиарий"
        ],
        "summary": "Предпросмотр существа",
        "operationId": "post_api_v2_bestiary_preview",
        "x-source": "core-api-open-source",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatureDetailResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatureRequest"
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v2/bestiary/search": {
      "get": {
        "tags": [
          "Бестиарий"
        ],
        "summary": "Поиск существ",
        "operationId": "get_api_v2_bestiary_search",
        "x-source": "core-api-open-source",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Search/filter query parameters from the controller query DTO."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CreatureShortResponse"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/cache/evict-all": {
      "get": {
        "tags": [
          "Кэш"
        ],
        "summary": "Очистка кэша",
        "operationId": "get_api_v2_cache_evict_all",
        "x-source": "core-api-open-source",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v2/classes": {
      "post": {
        "tags": [
          "Классы"
        ],
        "summary": "Создать новый класс",
        "operationId": "post_api_v2_classes",
        "x-source": "core-api-open-source",
        "parameters": [],
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClassDetailedResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClassRequest"
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v2/classes/{parentUrl}/subclasses": {
      "get": {
        "tags": [
          "Классы"
        ],
        "summary": "getSubClassesByParentUrl",
        "operationId": "get_api_v2_classes_parentUrl_subclasses",
        "x-source": "core-api-open-source",
        "parameters": [
          {
            "name": "parentUrl",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ClassShortResponse"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/classes/{url}": {
      "head": {
        "tags": [
          "Классы"
        ],
        "summary": "Проверить класс по URL",
        "operationId": "head_api_v2_classes_url",
        "x-source": "core-api-open-source",
        "parameters": [
          {
            "name": "url",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Классы"
        ],
        "summary": "getClassByUrl",
        "operationId": "get_api_v2_classes_url",
        "x-source": "core-api-open-source",
        "parameters": [
          {
            "name": "url",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClassDetailedResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Классы"
        ],
        "summary": "updateClass",
        "operationId": "put_api_v2_classes_url",
        "x-source": "core-api-open-source",
        "parameters": [
          {
            "name": "url",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClassRequest"
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v2/classes/{url}/raw": {
      "get": {
        "tags": [
          "Классы"
        ],
        "summary": "getClassFormByUrl",
        "operationId": "get_api_v2_classes_url_raw",
        "x-source": "core-api-open-source",
        "parameters": [
          {
            "name": "url",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClassRequest"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/classes/ability-improvement": {
      "get": {
        "tags": [
          "Классы"
        ],
        "summary": "Получение уровней улучшения характеристик класса",
        "operationId": "get_api_v2_classes_ability_improvement",
        "x-source": "core-api-open-source",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ClassAbilityImprovementResponse"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/classes/filters": {
      "get": {
        "tags": [
          "Классы"
        ],
        "summary": "Получить метаданные фильтров",
        "operationId": "get_api_v2_classes_filters",
        "x-source": "core-api-open-source",
        "parameters": [
          {
            "name": "source",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FilterMetadataResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/classes/preview": {
      "post": {
        "tags": [
          "Классы"
        ],
        "summary": "Предпросмотр класса",
        "operationId": "post_api_v2_classes_preview",
        "x-source": "core-api-open-source",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClassDetailedResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClassRequest"
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v2/classes/search": {
      "get": {
        "tags": [
          "Классы"
        ],
        "summary": "Поиск классов",
        "operationId": "get_api_v2_classes_search",
        "x-source": "core-api-open-source",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Search/filter query parameters from the controller query DTO."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ClassShortResponse"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/classes/subclasses": {
      "get": {
        "tags": [
          "Классы"
        ],
        "summary": "getSubClasses",
        "operationId": "get_api_v2_classes_subclasses",
        "x-source": "core-api-open-source",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ClassShortResponse"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
[...]
